@font-face {
  font-family: "Poppins";
  src:
    url("../fonts/Poppins-SemiBold.woff2") format("woff2"),
    url("../fonts/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src:
    url("../fonts/Poppins-ExtraBold.woff2") format("woff2"),
    url("../fonts/Poppins-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src:
    url("../fonts/Poppins-Light.woff2") format("woff2"),
    url("../fonts/Poppins-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src:
    url("../fonts/Poppins-Medium.woff2") format("woff2"),
    url("../fonts/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src:
    url("../fonts/Poppins-Regular.woff2") format("woff2"),
    url("../fonts/Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: var(--primary-font);
  font-weight: var(--fw-normal);
  font-size: 1rem;
  background-color: #121212;
  color: var(--color-text-body);
  transition:
    background-color var(--transition-duration) ease,
    color var(--transition-duration) ease;
}

a {
  text-decoration: none;
}

a,
button {
  @include transEase();
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a:focus:not(:focus-visible),
button:focus:not(:focus-visible) {
  outline: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::selection {
  color: var(--white);
  background: var(--color-brand);
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-gold) var(--color-bg-alt);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-bg-alt);
  border-radius: 0;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-gold);
  border-radius: 0;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: var(--color-border);
}
